/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/*
=============== 
Global Styles
===============
*/
body {
  font-family: 'Quicksand', sans-serif;
  background-color: #edddd4;
  color_ #283d3b;
  margin: 0;
  padding: 0;
}

/*
=============== 
Variables - JS MENU
===============
*/

ul {
  list-style-type: none;
  padding: 0 1.5rem 0 1rem;
  line-height: 3rem;
}

li {
  white-space: nowrap;
}

i {
  margin-right: 1rem;
}

h1 {
  font-size: 1.0rem;
}

header {
  margin-bottom: 1rem;
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
}

#burger, #cart-icon {
  margin: 1rem 0 0 2.5rem;
  color: #edddd4;
  background-color: #197278;
  font-size: 1.5rem;
  z-index: 2;
  border-radius: 50%;
  padding: 0.8rem 0.8rem 0.8rem 1rem;
  width: 1.3rem;
  cursor: pointer;
}

#shopping-cart {
  margin: 1rem 2.5rem 0 0;
}

nav {
position: absolute;
top: 0;
padding-top: 3.8rem;
height: 100%;
background-color: #197278;
color: #edddd4;
 transform: translateX(-10rem); 
/* ->így ki lesz tolva az X tengelyen -> nem látszódik */

transition: transform 350ms ease-in-out;
/* ->így módosítja a navot -> kattintásra így úszik be a képbe és ki*/
}

nav a {
  color: #edddd4;
  text-decoration: none;
  font-weight: bold;
}

.menu-active {
  transform: translateX(0);
}

main h1 {
  margin: 0 1rem;
}

/* KOSÁR TARTALMA */

#cart-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  padding: 3.8rem 1rem;
  height: 100%;
  background-color: #7C6A0A;
  color: #edddd4;
  transform: translateY(-140vh); 
  /* ->így ki lesz tolva az X tengelyen -> nem látszódik */
  
  transition: transform 350ms ease-in-out;
  /* ->így módosítja a navot -> kattintásra így úszik be a képbe és ki*/
  }

  #cart-content.active {
    transform: translateY(0);
  }

/*
=============== 
Variables - JS Termékek kiiratása
===============
*/

#products {
/*  display: flex;
  margin: 0 1rem; */
  text-align: center;
}

#products h2 {
  background-color: #D83158;
  color: #fff;
  padding: .3rem 1rem;
  border-bottom: .3rem solid #fff;
}

#products p {
  font-variant: small-caps;
  font-size: 1.5rem;
}

#products img {
  width: 75%;
}

#products a {
  background-color: #197278;/*#7C6A0A;*/
  color: #fff;
  padding: .3rem 1rem;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* 
Reszponzivitás:
TODO itt majd módosítanom kellene a px-t */

@media (min-width: 640px) {
  #products {
    display: flex;
    flex-wrap: wrap;
  }
  #products div {
    margin: 0 .5rem;
    width: 30%;
  }
}

